@import '../../style/_breakpoints.css';
@import '../../style/_variables.css';

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  h1 {
    color: $color-red;
  }
}
